<div class="flex flex-col gap-2 w-full"
  [ngClass]="config().className?.container ?? ''">
  <label
  *ngIf="config().label"
  class="text-sm font-medium text-gray-700"
    [ngClass]="config().className?.label ?? ''">
    {{ config().label | translate }}
  </label>

  <div class="flex flex-wrap gap-4 items-center justify-center ">
    <label
      *ngFor="let option of config().options"
      class="flex  gap-2 cursor-pointer text-sm text-gray-600"
      [ngClass]="config().className?.option ?? ''">

      <input
        type="radio"
        [formControl]="control()"
        [name]="config().name"
        [value]="option.value"
        [ngClass]="config().className?.input ?? ''"
        class="h-4 w-4">
      <span>{{ option.label | translate }}</span>
      
    </label>
  </div>
</div>
