<div class="flex flex-col gap-2 w-full"
  [ngClass]="config().className?.container ?? ''">

  <label *ngIf="config().label"
    [for]="config().name"
    [ngClass]="config().className?.label ?? ''">
    {{ config().label | translate }}
    @if(config().required) {
      <span class="text-red-500">*</span>
    }
  </label>

  <input
    type="date"
    [id]="config().name"
    [formControl]="control()"
    [name]="config().name"
    [min]="config().minDate ?? '1900-01-01'"
    [max]="config().maxDate ?? '2099-12-31'"
    [readonly]="config().readonly ?? false"
    aria-label="Date"
    title="Date"
    placeholder="Date"
    class="rounded-md border border-gray-300 px-3.5 py-2.5 pl-2.5 text-sm text-gray-900 shadow-sm "
    [ngClass]="config().className?.input ?? ''">
</div>