/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
:root {
  --btn-blue: #2563eb;
  --white: white;
  --primary-color: #2563EB;
  --primary-color-hover: #1D4ED8;
  --primary-color-active: #1E40AF;
  --text-color: #FFFFFF;
  --border-color: #c8cacf;
  --background-color: #FFFFFF;
  --checkbox-checkmark-color: #2563EB;
  --checkbox-border-color: #2563EB;
  --border-radius-btn: 6px;
  --border-btn-style : 1.5px solid;
  --border-width-checkbox: 0 2px 2px 0;
  --transform-rotate-checkbox: rotate(45deg);
}

.custom-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: var(--border-btn-style) var(--checkbox-border-color);
  border-radius: var(--border-radius-btn);
  background-color: var(--background-color);
  margin-left: 8px;
  cursor: pointer;
  position: relative;

  &:checked {
    background-color: var(--background-color);
  }

  &:checked::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: var(--border-btn-style) var(--checkbox-checkmark-color);
    border-width: var(--border-width-checkbox);
    transform: var(--transform-rotate-checkbox);
  }
}
.custom-checkbox-gray {
  appearance: none;
  width: 16px;
  height: 16px;
  border: var(--border-btn-style) var(--border-color);
  border-radius: var(--border-radius-btn);
  background-color: var(--background-color);
  cursor: pointer;
  position: relative;

  &:checked {
    background-color: var(--background-color);
  }

  &:checked::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: var(--border-btn-style) var(--checkbox-checkmark-color);
    border-width: var(--border-width-checkbox);
    transform: var(--transform-rotate-checkbox);
  }
}
.button-login {
  width: 100%;
  padding: 10px 0;
  border-radius: var(--border-radius-btn);
  font-weight: 600;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--primary-color);
  transition: background-color 0.2s;
  grid-column: 1 / span 12;
  cursor: pointer;
  &:hover { background-color: var(--primary-color-hover); }
  &:active { background-color: var(--primary-color-active); }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
.button-change-password {
  width: 150px;             
  padding: 10px 0;
  border-radius: var(--border-radius-btn);
  font-weight: 600;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--btn-blue);
  transition: background-color 0.2s;
  grid-column: 1 / span 12;   
  justify-self: end;
  cursor: pointer;

  &:hover { background-color: var(--primary-color-hover); }
  &:active { background-color: var(--primary-color-active); }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.button-search {
  
  background-color: var(--blue-600);
  color: var(--white);
  border: 1px solid var(--blue-600);
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  grid-column: span 1 / span 1;
}

.active {
  background: var(--btn-blue);
  color: var(--white);
  border-color: var(--btn-blue);
}
